.index_posts {
    background-color: #c9e2b3;
}
.index_post {
    margin: 0px;
    padding: 50px;
}

.index_image{
    margin: 0px;
    /*padding: 100px;*/
}

.index_name{
    text-align: center;
    margin: 0px;
}

/***************************************************question css*/

.question{
    border:3px dashed gray;
    margin: 30px 0;
    background-color: ghostwhite;
}

.question-row{
    background-color: #2ab27b;
    font-size: x-large;
}

.answer-row{
    background-color: #c0a16b;
    font-size: x-large;
}

.bestanswer{
    margin-top: 70px ;
    margin-right: 50px;
}

.answer{
    border:3px dashed #353535;
    margin: 30px 0;
    background-color: rgba(164, 179, 161, 0.09);
    /*color: black;*/
}

.answerform{
    margin: 100px 150px 0;
}

.allcomment{
    margin-top: 170px;
    margin-right: 50px;
}

.comment{
    border-bottom: 1px solid #c5c5c5;
    background-color: #ffe267;
}

.user{
    background-color: #cedbe6;
}

.tag{
    /*background-color: #f4efff;*/
}

.edit{
    font-size: x-small;
    background-color: #2ab27b;
}


/**********************************service box*/

.serviceBox{ text-align: center; }
.serviceBox .service-icon{
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin-bottom: 22px;
    font-size: 35px;
    color: #ffa900;
    position: relative;
}
.serviceBox .service-icon:before{
    content: "";
    width: 120px;
    height: 120px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.25s ease 0s;
}
.serviceBox:hover .service-icon:before{
    width: 93px;
    height: 93px;
    border: 3px solid #ffa900;
    top: 13px;
    left: 13px;
    transform: rotate(45deg);
}
.serviceBox .title{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #0d3b66;
    margin: 0 0 15px 0;
    transition: all 0.25s ease 0s;
}
.serviceBox:hover .title{
    color: #ffa900;
}
.serviceBox .description{
    font-size: 14px;
    color: #888;
    line-height: 25px;
}
@media only screen and (max-width: 990px){
    .serviceBox{ margin-bottom: 30px; }
}