<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>Таис Афинская</title>
        <link>http://tais-afinskaja.ucoz.net/</link>
        <description>Site news</description>
        <lastBuildDate>Sun, 31 Dec 2017 12:18:38 GMT</lastBuildDate>
        <generator>uCoz Web-Service</generator>
        <atom:link href="http://tais-afinskaja.ucoz.net/news/rss" rel="self" type="application/rss+xml"/>
        <item>
            <title>Объявление</title>
            <description>
                <p style="text-align: center;">&nbsp;</p> <p style="text-align: center;">&nbsp;</p> <p style="text-align: center;"><em><strong><span style="color:#880000;"><span style="font-size:18px;">Уважаемые пользователи!</span></span></strong></em></p> <p style="text-align: center;"><em><strong><span style="color:#880000;"><span style="font-size:18px;">Меня не будет с 01-07 января 2018 года.</span></span></strong></em></p> <p style="text-align: center;"><em><strong><span style="font-size:18px;"><span style="color:#880000;">По всем вопросам обращайтесь к&nbsp;</span><a href="javascript://" onclick="window.open('/index/8-468', 'up468', 'scrollbars=1,top=0,left=0,resizable=1,width=700,height=375'); return false;" rel="nofollow"><span style="color:#880000;">alexsf</span></a><span style="color:#880000;">.</span></span></strong></em></p> <p style="text-align: center;"><em><strong><span style="color:#880000;"><span style="font-size:18px;">Таис.</span></span></strong></em></p>
            </description>
            <content:encoded>
                <p style="text-align: center;">&nbsp;</p> <p style="text-align: center;">&nbsp;</p> <p style="text-align: center;"><em><strong><span style="color:#880000;"><span style="font-size:18px;">Уважаемые пользователи!</span></span></strong></em></p> <p style="text-align: center;"><em><strong><span style="color:#880000;"><span style="font-size:18px;">Меня не будет с 01-07 января 2018 года.</span></span></strong></em></p> <p style="text-align: center;"><em><strong><span style="font-size:18px;"><span style="color:#880000;">По всем вопросам обращайтесь к&nbsp;</span><a href="javascript://" onclick="window.open('/index/8-468', 'up468', 'scrollbars=1,top=0,left=0,resizable=1,width=700,height=375'); return false;" rel="nofollow"><span style="color:#880000;">alexsf</span></a><span style="color:#880000;">.</span></span></strong></em></p> <p style="text-align: center;"><em><strong><span style="color:#880000;"><span style="font-size:18px;">Таис.</span></span></strong></em></p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/objavlenie/2017-12-31-2786
            </link>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/objavlenie/2017-12-31-2786
            </guid>
            <pubDate>Sun, 31 Dec 2017 12:18:38 GMT</pubDate>
        </item>
        <item>
            <title>поздравление</title>
            <description>
                <p style="text-align: center;"><span style="color:#880000;"><em><strong>Администрация сайта поздравляет своих пользователей с Новым 2018 годом!!!</strong></em></span></p> <p style="text-align: center;"><span style="color:#880000;"><em><strong>Зимние праздники - особенная и волшебная пора. Это время загадывать желания, строить планы на будущее, ставить новые цели, а также оглянуться назад и подвести итоги.&nbsp;</strong></em></span></p> <p style="text-align: center;"><span style="color:#880000;"><em><strong>Желаем вам и вашим близким фантастических зимних праздников! Пусть каждый день Нового Года подарит яркие и позитивные эмоции, пусть тепло вашей души согревает как можно больше достойных людей!</strong></em></span></p> <p style="text-align: center;"><span style="color:#880000;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/raznoe/s_novym_godom11.jpg" style="width: 400px; height: 290px;" /></strong></em></span></p> <p>...
            </description>
            <content:encoded>
                <p style="text-align: center;"><span style="color:#880000;"><em><strong>Администрация сайта поздравляет своих пользователей с Новым 2018 годом!!!</strong></em></span></p> <p style="text-align: center;"><span style="color:#880000;"><em><strong>Зимние праздники - особенная и волшебная пора. Это время загадывать желания, строить планы на будущее, ставить новые цели, а также оглянуться назад и подвести итоги.&nbsp;</strong></em></span></p> <p style="text-align: center;"><span style="color:#880000;"><em><strong>Желаем вам и вашим близким фантастических зимних праздников! Пусть каждый день Нового Года подарит яркие и позитивные эмоции, пусть тепло вашей души согревает как можно больше достойных людей!</strong></em></span></p> <p style="text-align: center;"><span style="color:#880000;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/raznoe/s_novym_godom11.jpg" style="width: 400px; height: 290px;" /></strong></em></span></p> <p>$CUT$</p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/pozdravlenie/2017-12-31-2785
            </link>
            <category>Разное</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/pozdravlenie/2017-12-31-2785
            </guid>
            <pubDate>Sun, 31 Dec 2017 12:13:32 GMT</pubDate>
        </item>
        <item>
            <title>
                ESET INTERNET SECURITY Windows or ESET Cyber Security Pro Mac for 08/30/2018
            </title>
            <description>
                <p style="text-align: center;"><em><strong>ESET INTERNET SECURITY Windows or ESET Cyber Security Pro Mac for 08/30/2018</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/nod/ESET_Internet_Security.png" style="width: 200px; height: 79px;" /></strong></em></p> <p>...
            </description>
            <content:encoded>
                <p style="text-align: center;"><em><strong>ESET INTERNET SECURITY Windows or ESET Cyber Security Pro Mac for 08/30/2018</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/nod/ESET_Internet_Security.png" style="width: 200px; height: 79px;" /></strong></em></p> <p>$CUT$</p> <p>ESET Internet Security<br /> Username:TRIAL-0206291440<br /> Password:fet8u4fk35<br /> Public Key:3AB-V2F-UF3<br /> License Key:AUD4-W338-JM86-6KWP-BJAG<br /> Expiration Date:08/30/2018</p> <p>ESET Internet Security<br /> Username:TRIAL-0206291445<br /> Password:2bh46ev49u<br /> Public Key:3AB-V2F-W2H<br /> License Key:AUD4-W338-JC5B-B7RR-JTGM<br /> Expiration Date:08/30/2018</p> <p>ESET Internet Security<br /> Username:TRIAL-0206292256<br /> Password:8rn462rs5x<br /> Public Key:3AB-V2F-2TW<br /> License Key:AUD4-W338-JPDH-H27S-UDHV<br /> Expiration Date:08/30/2018</p> <p>&nbsp;</p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/eset_internet_security_windows_or_eset_cyber_security_pro_mac_for_08_30_2018/2017-12-31-2784
            </link>
            <category>Ключи для антивирусов</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/eset_internet_security_windows_or_eset_cyber_security_pro_mac_for_08_30_2018/2017-12-31-2784
            </guid>
            <pubDate>Sun, 31 Dec 2017 12:06:59 GMT</pubDate>
        </item>
        <item>
            <title>
                Kaspersky Internet security– Multi-device for 60 days (3 devices for PC , Mac and Android )
            </title>
            <description>
                <p style="text-align: center;"><em><strong>Kaspersky Internet security&ndash; Multi-device for 60 days&nbsp;(3 devices for PC , Mac and Android )</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/Kasperski/kasper_vetnam.png" style="width: 200px; height: 124px;" /></strong></em></p> <p>...
            </description>
            <content:encoded>
                <p style="text-align: center;"><em><strong>Kaspersky Internet security&ndash; Multi-device for 60 days&nbsp;(3 devices for PC , Mac and Android )</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/Kasperski/kasper_vetnam.png" style="width: 200px; height: 124px;" /></strong></em></p> <p>$CUT$</p> <p>IP India</p> <p>6KHY1-XEG6R-RGMZK-HW4SN<br /> 6KKJE-HHY5E-A6JFE-FPWJ8<br /> 6N9KZ-U186P-HCABS-NQ32T<br /> 6NBTE-NBYWQ-S51X6-FH76R<br /> 6NDTA-PGPE9-1MYNA-8NQ36<br /> 6R4P3-B7GT4-YC5S6-4MZEF<br /> 6R6W1-HX4YK-GXQ5K-UUH6E<br /> 6R85J-4FUBB-8X6YZ-Z7BU6<br /> 6V5VP-EVHNH-XE4B4-SY1XW<br /> 6V822-VGKJQ-4E953-RNAAD<br /> 6VR8S-GJ3U2-5R7HW-82AS5<br /> 6VSQU-J73U5-DNGBG-2UTQS<br /> 6W137-S6TCK-MZNJX-MHYBW<br /> 6W1FD-YMM2A-TBHW7-USP6V<br /> 6ANQ2-XNG8D-A54TR-ADN7U<br /> 6ANXU-GE58G-DKYFQ-YYHHD<br /> 6APGX-VSFQ9-V1CKC-M4KTE<br /> 6AQKU-BKY1C-XAQTH-YP4JW<br /> 6AQQ8-JJ5M5-RTUCE-XPA1N<br /> 6ARKG-FBWP3-ZFTWG-1P2UG<br /> 6AZ3A-NAZWC-F434S-6RJ1R<br /> 6AZWA-QU53K-C62NB-8Q1RW<br /> 6B1A7-VPMT7-8NM9Z-YK3P4<br /> 6B2T5-ZSEB2-GFY8M-7N7ZX<br /> 6B3JA-5BAKK-AV84A-V38EJ<br /> 6DG5Z-8PNGH-9A56Z-FVJZC<br /> 6DK3D-7DH2J-N11SA-9BHJY<br /> 6DN7Q-N55PW-7JP6T-E996J<br /> 6DPHX-KRN32-AYZ61-9448H</p> <p>&nbsp;</p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/kaspersky_internet_security_multi_device_for_60_days_3_devices_for_pc_mac_and_android/2017-12-31-2783
            </link>
            <category>Ключи для антивирусов</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/kaspersky_internet_security_multi_device_for_60_days_3_devices_for_pc_mac_and_android/2017-12-31-2783
            </guid>
            <pubDate>Sun, 31 Dec 2017 12:04:02 GMT</pubDate>
        </item>
        <item>
            <title>Dr.Web SS + Android, WM, Symbian до 23.03.2018</title>
            <description>
                <p style="text-align: center;"><em><strong>Dr.Web SS + Android, WM, Symbian до 23.03.2018</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/DrWeb/Dr.Web.gif" style="width: 200px; height: 279px;" /></strong></em></p> <p>...
            </description>
            <content:encoded>
                <p style="text-align: center;"><em><strong>Dr.Web SS + Android, WM, Symbian до 23.03.2018</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/DrWeb/Dr.Web.gif" style="width: 200px; height: 279px;" /></strong></em></p> <p>$CUT$</p> <p><a href="http://file-space.org/files/get/5HuWP34U3v/2018-03-23.key.html">http://file-space.org/files/get/5HuWP34U3v/2018-03-23.key.html</a></p> <p><a href="http://turbobit.net/f6qvr1wlq66f.html">http://turbobit.net/f6qvr1wlq66f.html</a></p> <p><a href="http://hitfile.net/XjrNqrO">http://hitfile.net/XjrNqrO</a></p> <p>&nbsp;</p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/dr_web_ss_android_wm_symbian_do_23_03_2018/2017-12-30-2782
            </link>
            <category>Ключи для антивирусов</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/dr_web_ss_android_wm_symbian_do_23_03_2018/2017-12-30-2782
            </guid>
            <pubDate>Sat, 30 Dec 2017 12:27:43 GMT</pubDate>
        </item>
        <item>
            <title>
                Kaspersky Internet security– Multi-device for 60 days (3 devices for PC , Mac and Android )
            </title>
            <description>
                <p style="text-align: center;"><em><strong>Kaspersky Internet security&ndash; Multi-device for 60 days&nbsp;(3 devices for PC , Mac and Android )</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/Kasperski/kasper_vetnam.png" style="width: 200px; height: 124px;" /></strong></em></p> <p>...
            </description>
            <content:encoded>
                <p style="text-align: center;"><em><strong>Kaspersky Internet security&ndash; Multi-device for 60 days&nbsp;(3 devices for PC , Mac and Android )</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/Kasperski/kasper_vetnam.png" style="width: 200px; height: 124px;" /></strong></em></p> <p>$CUT$</p> <p>IP India</p> <p>W37R2-N31NB-6U4X1-V1WU8&nbsp;<br /> HS4NU-PAWZQ-RCB91-VBE76<br /> JKN4Q-44R6G-1U3VS-1ZAR9&nbsp;<br /> W3K6K-KY29N-3VE4Q-QT26A<br /> 7V7KS-636VY-2XD79-1GG21<br /> 7V8G4-V4364-F6V1G-N68G4<br /> 7VAFH-1CC8Y-NB8V1-VAC21<br /> 7VE16-K5KWK-HMWA5-RKH32<br /> 7VHEE-HFPNU-9YEYB-65AAZ<br /> 7VJTY-H8UY4-EM48E-D5H25<br /> ERJ7V-MHGW7-8SH6P-3GQA9<br /> ERKRY-RBW8B-8QN4P-PZK7Z<br /> HRYN2-6PWFN-VS1MV-MM2U8<br /> HS4NU-PAWZQ-RCB91-VBE76<br /> JKN4Q-44R6G-1U3VS-1ZAR9<br /> W3Q75-E3P3B-6UYZ6-YGSHV&nbsp;<br /> W3S1M-CZGHV-S4M7D-ARZQR</p> <p>&nbsp;</p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/kaspersky_internet_security_multi_device_for_60_days_3_devices_for_pc_mac_and_android/2017-12-30-2781
            </link>
            <category>Ключи для антивирусов</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/kaspersky_internet_security_multi_device_for_60_days_3_devices_for_pc_mac_and_android/2017-12-30-2781
            </guid>
            <pubDate>Sat, 30 Dec 2017 11:37:55 GMT</pubDate>
        </item>
        <item>
            <title>поздравление</title>
            <description>
                <p style="text-align: center;"><img alt="" src="http://tais-afinskaja.ucoz.net/raznoe/skoro_novyj_god.gif" style="width: 400px; height: 286px;" /></p>
            </description>
            <content:encoded>
                <p style="text-align: center;"><img alt="" src="http://tais-afinskaja.ucoz.net/raznoe/skoro_novyj_god.gif" style="width: 400px; height: 286px;" /></p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/pozdravlenie/2017-12-30-2780
            </link>
            <category>Разное</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/pozdravlenie/2017-12-30-2780
            </guid>
            <pubDate>Sat, 30 Dec 2017 09:21:32 GMT</pubDate>
        </item>
        <item>
            <title>Объявление</title>
            <description>
                <p style="text-align: center;">&nbsp;</p> <p style="text-align: center;">&nbsp;</p> <p style="text-align: center;"><span style="color:#880000;"><span style="font-size:28px;"><em><strong>Кто не нашел нужных ключей или нужны ключи на более длительный период обращайтесь в наш</strong></em></span></span></p> <p style="text-align: center;"><span style="font-size:28px;"><em><strong><a href="http://tais-afinskaja.ucoz.net/index/magazin/0-5"><span style="color:#880000;">МАГАЗИН</span></a><span style="color:#880000;">&nbsp;!!!</span></strong></em></span></p>
            </description>
            <content:encoded>
                <p style="text-align: center;">&nbsp;</p> <p style="text-align: center;">&nbsp;</p> <p style="text-align: center;"><span style="color:#880000;"><span style="font-size:28px;"><em><strong>Кто не нашел нужных ключей или нужны ключи на более длительный период обращайтесь в наш</strong></em></span></span></p> <p style="text-align: center;"><span style="font-size:28px;"><em><strong><a href="http://tais-afinskaja.ucoz.net/index/magazin/0-5"><span style="color:#880000;">МАГАЗИН</span></a><span style="color:#880000;">&nbsp;!!!</span></strong></em></span></p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/objavlenie/2017-12-30-2779
            </link>
            <category>Разное</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/objavlenie/2017-12-30-2779
            </guid>
            <pubDate>Sat, 30 Dec 2017 08:37:18 GMT</pubDate>
        </item>
        <item>
            <title>
                Платный ключ для NSBU 90 дней 10 ПК НЕ АКТИВИРОВАННЫЙ
            </title>
            <description>
                <p style="text-align: center;"><em><strong>Платный ключ для NSBU 90 дней 10 ПК НЕ АКТИВИРОВАННЫЙ</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/lev1.jpg" style="width: 200px; height: 267px;" /></strong></em></p> <p>...
            </description>
            <content:encoded>
                <p style="text-align: center;"><em><strong>Платный ключ для NSBU 90 дней 10 ПК НЕ АКТИВИРОВАННЫЙ</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/lev1.jpg" style="width: 200px; height: 267px;" /></strong></em></p> <p>$CUT$</p> <p>&nbsp;</p> <p><a href="https://www.oplata.info/asp2/pay_wm.asp?id_d=2362922&amp;id_po=0&amp;cart_uid=&amp;ai=0&amp;curr=WMR&amp;failpage=http%3A%2F%2Ftais-afinskaja.ucoz.net%2Findex%2Fmagazin%2F0-5%23!digiseller%2Fdetail%2F2362922&amp;lang=ru-RU&amp;nocash=216905">https://www.oplata.info/asp2/pay_wm.asp?id_d=2362922&amp;id_po=0&amp;cart_uid=&amp;ai=0&amp;curr=WMR&amp;failpage=http%3A%2F%2Ftais-afinskaja.ucoz.net%2Findex%2Fmagazin%2F0-5%23!digiseller%2Fdetail%2F2362922&amp;lang=ru-RU&amp;nocash=216905</a></p> <p>&nbsp;</p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/platnyj_kljuch_dlja_nsbu_90_dnej_10_pk_ne_aktivirovannyj/2017-12-30-2778
            </link>
            <category>Ключи для антивирусов</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/platnyj_kljuch_dlja_nsbu_90_dnej_10_pk_ne_aktivirovannyj/2017-12-30-2778
            </guid>
            <pubDate>Sat, 30 Dec 2017 08:35:08 GMT</pubDate>
        </item>
        <item>
            <title>
                Платный ключ для Norton Security 90 дней 5ПК НЕ АКТИВИРОВАННЫЙ
            </title>
            <description>
                <p style="text-align: center;"><em><strong>Платный ключ для Norton Security 90 дней 5ПК НЕ АКТИВИРОВАННЫЙ</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/tigr1.jpg" style="width: 200px; height: 200px;" /></strong></em></p> <p>...
            </description>
            <content:encoded>
                <p style="text-align: center;"><em><strong>Платный ключ для Norton Security 90 дней 5ПК НЕ АКТИВИРОВАННЫЙ</strong></em></p> <p style="text-align: center;"><em><strong><img alt="" src="http://tais-afinskaja.ucoz.net/tigr1.jpg" style="width: 200px; height: 200px;" /></strong></em></p> <p>$CUT$</p> <p><a href="https://www.oplata.info/asp2/pay_wm.asp?id_d=2362914&amp;id_po=0&amp;cart_uid=&amp;ai=0&amp;curr=WMR&amp;failpage=http%3A%2F%2Ftais-afinskaja.ucoz.net%2Findex%2Fmagazin%2F0-5%23!digiseller%2Fdetail%2F2362914&amp;lang=ru-RU&amp;nocash=128726">https://www.oplata.info/asp2/pay_wm.asp?id_d=2362914&amp;id_po=0&amp;cart_uid=&amp;ai=0&amp;curr=WMR&amp;failpage=http%3A%2F%2Ftais-afinskaja.ucoz.net%2Findex%2Fmagazin%2F0-5%23!digiseller%2Fdetail%2F2362914&amp;lang=ru-RU&amp;nocash=128726</a></p> <p>&nbsp;</p>
            </content:encoded>
            <link>
            http://tais-afinskaja.ucoz.net/news/platnyj_kljuch_dlja_norton_security_90_dnej_5pk_ne_aktivirovannyj/2017-12-30-2777
            </link>
            <category>Ключи для антивирусов</category>
            <dc:creator>nataly290361</dc:creator>
            <guid>
                http://tais-afinskaja.ucoz.net/news/platnyj_kljuch_dlja_norton_security_90_dnej_5pk_ne_aktivirovannyj/2017-12-30-2777
            </guid>
            <pubDate>Sat, 30 Dec 2017 08:31:36 GMT</pubDate>
        </item>
    </channel>
</rss>